@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: rgb(99 46 227);
  --color-secondary: rgb(159 98 242);

  --color-gradient: linear-gradient(90deg, rgb(99 46 227), rgb(159 98 242));
}

@layer utilities {
  .text-gradient {
    background: var(--color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .hero-bg {
    background: linear-gradient(to right, #ffe6fd, #e0f8f5);
  }
}

.bg-gradient {
  background: var(--color-gradient);
  color: white; /* optional for contrast */
}

a.active {
  @apply text-primary;
}
